## Step 1. Create a new notebook for this task; import libraries and 'ords_prods_merge' pickle file.

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [4]:
# Create path variable for re-use when importing data
path = r'C:\Users\sorca\Documents\Achievement_4\4_8'

In [6]:
# Import data from the pickle file
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_4_7.pkl'))

In [8]:
df_ords_prods_merge.shape

(32399732, 18)

In [10]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders

## Step 2. Find the aggregated mean of the “order_number” column grouped by “department_id”.

In [19]:
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.667853
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## Step 3. How do the results for the entire dataframe differ from those of the subset?

#### The number of departments for both dataframes is the same (21).
#### As expected, the mean values for the two dataframes are different for the same department.
#### The mean values for the same department either increased or decreased, with no apparent pattern.

## Step 4. Create a loyalty flag for existing customers using the transform() and loc() functions.

In [28]:
# 1. Split the data into groups based on the “user_id” column.
# 2. Apply the transform() function on the “order_number” column to generate the maximum orders for each user.
# 3. Create a new column, “max_order,” into which place the results of the aggregation.

df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\sorca\AppData\Local\Temp\ipykernel_35280\2029855685.py:5: FutureWarning: The provided callable <function max at 0x00000226DC696020> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [30]:
df_ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,10
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10
5,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Average orders,10
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Slowest days,Average orders,10
10,2398795,1,2,3,7,15.0,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10
11,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
12,473747,1,3,3,12,21.0,12427,2,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Most orders,10
13,473747,1,3,3,12,21.0,10258,3,1,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Most orders,10
14,473747,1,3,3,12,21.0,25133,4,0,Organic String Cheese,21,16,8.6,both,Mid-range product,Regularly busy,Slowest days,Most orders,10

In [32]:
# Create and populate the loyalty_flag
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [34]:
# Check if the right flags were assigned
df_ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1

In [36]:
# Print the frequency of the new “loyalty_flag”
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15874128
Loyal customer      10282763
New customer         6242841
Name: count, dtype: int64

## Step 5. Check the basic statistics of the product prices for each loyalty category.

In [41]:
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['median', 'mean', 'min', 'max', 'std']})

                 prices
                 median      mean  min   max       std
loyalty_flag
Loyal customer      7.4  7.773575  1.0  25.0  4.206151
New customer        7.4  7.801206  1.0  25.0  4.266834
Regular customer    7.4  7.798262  1.0  25.0  4.254886

In [43]:
# We notice that the median values of the prices for the three groups is identical and the mean values are slightly different.
# This means that the prices of products purchased by loyal customers DO NOT differ from those purchased by regular or new customers.

## Step 6.  Create a spending flag for each user based on the average price across all their orders.

In [48]:
# Create a new column for the average price of all orders of a customer
df_ords_prods_merge['average_price_all_orders'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [50]:
df_ords_prods_merge.shape

(32399732, 21)

In [52]:
df_ords_prods_merge.head(60)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag,average_price_all_orders
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,...,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,...,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
5,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,...,19,3.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,...,19,4.4,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,...,4,10.3,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,...,19,4.7,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
10,2398795,1,2,3,7,15.0,13032,6,0,Cinnamon Toast Crunch,...,14,4.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
11,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
12,473747,1,3,3,12,21.0,12427,2,1,Original Beef Jerky,...,19,4.4,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
13,473747,1,3,3,12,21.0,10258,3,1,Pistachios,...,19,3.0,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
14,473747,1,3,3,12,21.0,25133,4,0,Organic String Cheese,...,16,8.6,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
15,473747,1,3,3,12,21.0,30450,5,0,Creamy Almond Butter,...,13,3.2,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
16,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
17,2254736,1,4,4,7,29.0,12427,2,1,Original Beef Jerky,...,19,4.4,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
18,2254736,1,4,4,7,29.0,10258,3,1,Pistachios,...,19,3.0,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
19,2254736,1,4,4,7,29.0,25133,4,1,Organic String Cheese,...,16,8.6,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
20,2254736,1,4,4,7,29.0,26405,5,1,XL Pick-A-Size Paper Towel Rolls,...,17,1.0,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
21,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
22,431534,1,5,4,15,28.0,12427,2,1,Original Beef Jerky,...,19,4.4,both,Low-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
23,431534,1,5,4,15,28.0,10258,3,1,Pistachios,...,19,3.0,both,Low-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
24,431534,1,5,4,15,28.0,25133,4,1,Organic String Cheese,...,16,8.6,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
25,431534,1,5,4,15,28.0,10326,5,0,Organic Fuji Apples,...,4,2.7,both,Low-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
26,431534,1,5,4,15,28.0,17122,6,0,Honeycrisp Apples,...,4,14.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
27,431534,1,5,4,15,28.0,41787,7,0,Bartlett Pears,...,4,5.0,both,Low-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
28,431534,1,5,4,15,28.0,13176,8,1,Bag of Organic Bananas,...,4,10.3,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
29,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
30,3367565,1,6,2,7,19.0,12427,2,1,Original Beef Jerky,...,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
31,3367565,1,6,2,7,19.0,10258,3,1,Pistachios,...,19,3.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
32,3367565,1,6,2,7,19.0,25133,4,1,Organic String Cheese,...,16,8.6,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
33,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
34,550135,1,7,1,9,20.0,10258,2,1,Pistachios,...,19,3.0,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
35,550135,1,7,1,9,20.0,12427,3,1,Original Beef Jerky,...,19,4.4,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
36,550135,1,7,1,9,20.0,25133,4,1,Organic String Cheese,...,16,8.6,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
37,550135,1,7,1,9,20.0,13032,5,1,Cinnamon Toast Crunch,...,14,4.0,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
38,3108588,1,8,1,14,14.0,12427,1,1,Original Beef Jerky,...,19,4.4,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
39,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
40,3108588,1,8,1,14,14.0,10258,3,1,Pistachios,...,19,3.0,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
41,3108588,1,8,1,14,14.0,25133,4,1,Organic String Cheese,...,16,8.6,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
42,3108588,1,8,1,14,14.0,46149,5,0,Zero Calorie Cola,...,7,13.4,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
43,3108588,1,8,1,14,14.0,49235,6,0,Organic Half & Half,...,16,1.8,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
44,2295261,1,9,1,16,0.0,49235,1,1,Organic Half & Half,...,16,1.8,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
45,2295261,1,9,1,16,0.0,46149,2,1,Zero Calorie Cola,...,7,13.4,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
46,2295261,1,9,1,16,0.0,25133,3,1,Organic String Cheese,...,16,8.6,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
47,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
48,2295261,1,9,1,16,0.0,10258,5,1,Pistachios,...,19,3.0,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
49,2295261,1,9,1,16,0.0,12427,6,1,Original Beef Jerky,...,19,4.4,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
50,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
51,2550362,1,10,4,8,30.0,46149,2,1,Zero Calorie Cola,...,7,13.4,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
52,2550362,1,10,4,8,30.0,39657,3,0,Milk Chocolate Almonds,...,19,6.8,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
53,2550362,1,10,4,8,30.0,38928,4,0,0% Greek Strained Yogurt,...,16,12.6,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
54,2550362,1,10,4,8,30.0,25133,5,1,Organic String Cheese,...,16,8.6,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
55,2550362,1,10,4,8,30.0,10258,6,1,Pistachios,...,19,3.0,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
56,2550362,1,10,4,8,30.0,35951,7,0,Organic Unsweetened Almond Milk,...,16,1.3,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
57,2550362,1,10,4,8,30.0,13032,8,1,Cinnamon Toast Crunch,...,14,4.0,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
58,2550362,1,10,4,8,30.0,12427,9,1,Original Beef Jerky,...,19,4.4,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
59,2168274,2,1,2,11,NaN,32792,1,0,Chipotle Beef & Pork Realstick,...,19,5.2,both,Mid-range product,Regularly busy,Regularly busy,Most orders,14,Regular customer,7.515897

In [66]:
# Assign the spender flag to each customer
df_ords_prods_merge.loc[df_ords_prods_merge['average_price_all_orders'] < 10,'spending_flag']='Low_spender'

In [68]:
df_ords_prods_merge.loc[df_ords_prods_merge['average_price_all_orders'] >= 10,'spending_flag']='High_spender'

In [70]:
df_ords_prods_merge.shape

(32399732, 22)

In [72]:
df_ords_prods_merge.head(60)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag,average_price_all_orders,spending_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,...,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,...,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender
5,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,...,3.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,...,4.4,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,...,10.3,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,...,4.7,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
10,2398795,1,2,3,7,15.0,13032,6,0,Cinnamon Toast Crunch,...,4.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
11,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender
12,473747,1,3,3,12,21.0,12427,2,1,Original Beef Jerky,...,4.4,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender
13,473747,1,3,3,12,21.0,10258,3,1,Pistachios,...,3.0,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender
14,473747,1,3,3,12,21.0,25133,4,0,Organic String Cheese,...,8.6,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender
15,473747,1,3,3,12,21.0,30450,5,0,Creamy Almond Butter,...,3.2,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender
16,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
17,2254736,1,4,4,7,29.0,12427,2,1,Original Beef Jerky,...,4.4,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
18,2254736,1,4,4,7,29.0,10258,3,1,Pistachios,...,3.0,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
19,2254736,1,4,4,7,29.0,25133,4,1,Organic String Cheese,...,8.6,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
20,2254736,1,4,4,7,29.0,26405,5,1,XL Pick-A-Size Paper Towel Rolls,...,1.0,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
21,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender
22,431534,1,5,4,15,28.0,12427,2,1,Original Beef Jerky,...,4.4,both,Low-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender
23,431534,1,5,4,15,28.0,10258,3,1,Pistachios,...,3.0,both,Low-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender
24,431534,1,5,4,15,28.0,25133,4,1,Organic String Cheese,...,8.6,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender
25,431534,1,5,4,15,28.0,10326,5,0,Organic Fuji Apples,...,2.7,both,Low-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender
26,431534,1,5,4,15,28.0,17122,6,0,Honeycrisp Apples,...,14.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender
27,431534,1,5,4,15,28.0,41787,7,0,Bartlett Pears,...,5.0,both,Low-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender
28,431534,1,5,4,15,28.0,13176,8,1,Bag of Organic Bananas,...,10.3,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender
29,3367565,1,6,2,7,19.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender
30,3367565,1,6,2,7,19.0,12427,2,1,Original Beef Jerky,...,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender
31,3367565,1,6,2,7,19.0,10258,3,1,Pistachios,...,3.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender
32,3367565,1,6,2,7,19.0,25133,4,1,Organic String Cheese,...,8.6,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender
33,550135,1,7,1,9,20.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender
34,550135,1,7,1,9,20.0,10258,2,1,Pistachios,...,3.0,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender
35,550135,1,7,1,9,20.0,12427,3,1,Original Beef Jerky,...,4.4,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender
36,550135,1,7,1,9,20.0,25133,4,1,Organic String Cheese,...,8.6,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender
37,550135,1,7,1,9,20.0,13032,5,1,Cinnamon Toast Crunch,...,4.0,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender
38,3108588,1,8,1,14,14.0,12427,1,1,Original Beef Jerky,...,4.4,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender
39,3108588,1,8,1,14,14.0,196,2,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender
40,3108588,1,8,1,14,14.0,10258,3,1,Pistachios,...,3.0,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender
41,3108588,1,8,1,14,14.0,25133,4,1,Organic String Cheese,...,8.6,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender
42,3108588,1,8,1,14,14.0,46149,5,0,Zero Calorie Cola,...,13.4,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender
43,3108588,1,8,1,14,14.0,49235,6,0,Organic Half & Half,...,1.8,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender
44,2295261,1,9,1,16,0.0,49235,1,1,Organic Half & Half,...,1.8,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender
45,2295261,1,9,1,16,0.0,46149,2,1,Zero Calorie Cola,...,13.4,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender
46,2295261,1,9,1,16,0.0,25133,3,1,Organic String Cheese,...,8.6,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender
47,2295261,1,9,1,16,0.0,196,4,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender
48,2295261,1,9,1,16,0.0,10258,5,1,Pistachios,...,3.0,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender
49,2295261,1,9,1,16,0.0,12427,6,1,Original Beef Jerky,...,4.4,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender
50,2550362,1,10,4,8,30.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
51,2550362,1,10,4,8,30.0,46149,2,1,Zero Calorie Cola,...,13.4,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
52,2550362,1,10,4,8,30.0,39657,3,0,Milk Chocolate Almonds,...,6.8,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
53,2550362,1,10,4,8,30.0,38928,4,0,0% Greek Strained Yogurt,...,12.6,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
54,2550362,1,10,4,8,30.0,25133,5,1,Organic String Cheese,...,8.6,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
55,2550362,1,10,4,8,30.0,10258,6,1,Pistachios,...,3.0,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
56,2550362,1,10,4,8,30.0,35951,7,0,Organic Unsweetened Almond Milk,...,1.3,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
57,2550362,1,10,4,8,30.0,13032,8,1,Cinnamon Toast Crunch,...,4.0,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
58,2550362,1,10,4,8,30.0,12427,9,1,Original Beef Jerky,...,4.4,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender
59,2168274,2,1,2,11,NaN,32792,1,0,Chipotle Beef & Pork Realstick,...,5.2,both,Mid-range product,Regularly busy,Regularly busy,Most orders,14,Regular customer,7.515897,Low_spender

In [74]:
df_ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low_spender     32280013
High_spender      119719
Name: count, dtype: int64

In [76]:
# It was probably expected that the number of high spenders would be less than the number of low spenders.

## Step 7. Determine frequent versus non-frequent customers.

In [89]:
# Create a new column for the median value in the “days_since_prior_order” column.
df_ords_prods_merge['order_frequency'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [91]:
df_ords_prods_merge.shape

(32399732, 23)

In [93]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag,average_price_all_orders,spending_flag,order_frequency
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,...,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,...,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5

In [95]:
# Assign the order frequency flag to each customer according to the requirements

df_ords_prods_merge.loc[df_ords_prods_merge['order_frequency'] > 20,'frequency_flag']='Non-frequent customer'

In [99]:
df_ords_prods_merge.loc[(df_ords_prods_merge['order_frequency'] > 10) & (df_ords_prods_merge['order_frequency'] <= 20),'frequency_flag']='Regular customer'

In [101]:
df_ords_prods_merge.loc[df_ords_prods_merge['order_frequency'] <= 10,'frequency_flag']='Frequent customer'

In [103]:
df_ords_prods_merge.shape

(32399732, 24)

In [105]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag,average_price_all_orders,spending_flag,order_frequency,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5,Non-frequent customer
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5,Non-frequent customer
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5,Non-frequent customer
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5,Non-frequent customer
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5,Non-frequent customer

In [107]:
df_ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21556644
Regular customer          7207340
Non-frequent customer     3635743
NaN                             5
Name: count, dtype: int64

In [109]:
df_ords_prods_merge[['user_id', 'order_frequency', 'frequency_flag']].head(60)

    user_id  order_frequency         frequency_flag
0         1             20.5  Non-frequent customer
1         1             20.5  Non-frequent customer
2         1             20.5  Non-frequent customer
3         1             20.5  Non-frequent customer
4         1             20.5  Non-frequent customer
5         1             20.5  Non-frequent customer
6         1             20.5  Non-frequent customer
7         1             20.5  Non-frequent customer
8         1             20.5  Non-frequent customer
9         1             20.5  Non-frequent customer
10        1             20.5  Non-frequent customer
11        1             20.5  Non-frequent customer
12        1             20.5  Non-frequent customer
13        1             20.5  Non-frequent customer
14        1             20.5  Non-frequent customer
15        1             20.5  Non-frequent customer
16        1             20.5  Non-frequent customer
17        1             20.5  Non-frequent customer
18        1             20.5  Non-frequent customer
19        1             20.5  Non-frequent customer
20        1             20.5  Non-frequent customer
21        1             20.5  Non-frequent customer
22        1             20.5  Non-frequent customer
23        1             20.5  Non-frequent customer
24        1             20.5  Non-frequent customer
25        1             20.5  Non-frequent customer
26        1             20.5  Non-frequent customer
27        1             20.5  Non-frequent customer
28        1             20.5  Non-frequent customer
29        1             20.5  Non-frequent customer
30        1             20.5  Non-frequent customer
31        1             20.5  Non-frequent customer
32        1             20.5  Non-frequent customer
33        1             20.5  Non-frequent customer
34        1             20.5  Non-frequent customer
35        1             20.5  Non-frequent customer
36        1             20.5  Non-frequent customer
37        1             20.5  Non-frequent customer
38        1             20.5  Non-frequent customer
39        1             20.5  Non-frequent customer
40        1             20.5  Non-frequent customer
41        1             20.5  Non-frequent customer
42        1             20.5  Non-frequent customer
43        1             20.5  Non-frequent customer
44        1             20.5  Non-frequent customer
45        1             20.5  Non-frequent customer
46        1             20.5  Non-frequent customer
47        1             20.5  Non-frequent customer
48        1             20.5  Non-frequent customer
49        1             20.5  Non-frequent customer
50        1             20.5  Non-frequent customer
51        1             20.5  Non-frequent customer
52        1             20.5  Non-frequent customer
53        1             20.5  Non-frequent customer
54        1             20.5  Non-frequent customer
55        1             20.5  Non-frequent customer
56        1             20.5  Non-frequent customer
57        1             20.5  Non-frequent customer
58        1             20.5  Non-frequent customer
59        2             13.0       Regular customer

In [113]:
# There are many more Frequent customers than Regular and Non-frequent customers.

## Step 9. Export the dataframe as a pickle file

In [116]:
# Export dataframe to pickle file
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_4_8.pkl'))